.container {
    padding: 10px 20px;
    background-color: white;
    color: black;
    width: 100%;
    max-width: 700px;
    /* min-height: 400px; */
    height: 443px;
    border-radius: 18px;
}

.container ol {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.container li {
    border: 1px solid darkcyan;
    border-radius: 12px;
    padding: 12px;
    width: 500px;
    /* margin: 12px 0; */
    cursor: pointer;
    transition: all 0.2s ease;
}

.container li:hover {
    /* border-color: red; */
    color: dodgerblue;
}

.question p {
    max-width: 700px;
    font-size: 23px;
}

.top p {
    color: darkcyan;
}
